<!DOCTYPE html>
<html>
<head>
    <title>Bag Price Prediction</title>
</head>
<body>
    <h1>Bag Price Prediction</h1>
    <form method="POST" enctype="multipart/form-data">
        <label for="file">Upload Image:</label>
        <input type="file" id="file" name="file"><br><br>
        <label for="brand">Brand:</label>
        <input type="text" id="brand" name="brand"><br><br>
        <label for="model">Model:</label>
        <input type="text" id="model" name="model"><br><br>
        <label for="condition">Condition:</label>
        <input type="text" id="condition" name="condition"><br><br>
        <label for="material">Material:</label>
        <input type="text" id="material" name="material"><br><br>
        <label for="color">Color:</label>
        <input type="text" id="color" name="color"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
